@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import "mixins";
@import "variables";


.content-details {
  padding: 150px 0;
  font-family: "Open Sans", sans-serif;

  video {
    background-color: #101522;
    width: 570px;
    height: 480px;
    border-radius: 10px;
    @media (max-width: 768px) {
      height: auto;
      width: 100%;
    }
  }


  .content-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 60px;
      height: 5px;
      background: #f82249;
      bottom: 0;
      left: calc(50% - 25px);
    }

    h2 {
      font-size: 36px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      color: #9195a2;
    }
  }


  .details {
    h2 {
      color: #112363;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px
    }



    p {
      color: #112363;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
  img {
    width: 570px;
    height: 480px;
    @media (max-width: 768px) {
      height: auto;
    }
  }

}

