@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import "mixins";
@import "variables";

.content-details {
  background-color: #040919;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .video_content {
    display: flex;
    align-items: center;
    cursor: pointer;
    video {
      background-color: #101522;
      width: 520px;
      border-radius: 10px;
      @media (max-width: $media-width) {
        height: 300px;
        width: 100%;
      }
    }
    img {
      width: 520px;
      @media (max-width: $media-width) {
        height: auto;
        width: 100%;
      }
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 520px;
      border-radius: 10px;
      height: 100%;
      background-color: rgba(19, 22, 28, 0.58);
      color: #f82249;
      position: absolute;
      cursor: pointer;
      @media (max-width: $media-width) {
        height: 100%;
        width: 100%;
      }
    }

    }

  .content-header {
    padding: 30px;
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 60px;
      height: 5px;
      background: #f82249;
      bottom: 0;
      left: calc(50% - 25px);
      margin: 20px 0;
    }

    h2 {
      color: #ffffff;
      font-size: 36px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .details {
    h2 {
      color: #f82249;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      color: #ffffff;
      font-size: 15px;
      margin-bottom: 10px;
      @media (max-width: $media-width) {
        display: none;
      }
    }
  }
  img {
    width: 570px;
    @media (max-width: $media-width) {
      height: 100%;
    }
  }
  @media (max-width:$media-width) {
    height: auto;
    width: 100%;
  }
}
